<?xml version="1.0"?>
<launch>
  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -file $(find jet_description)/urdf/jet.urdf robot_description -model robot -z 2.0" respawn="false" output="screen" />
</launch>